
@if (IsPost)
{
    string login = Request["login"];
    string password = Request["password"];
    if (string.IsNullOrWhiteSpace(login) || string.IsNullOrWhiteSpace(password))
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }

    if (Web.Models.Auth.CanLogin(login, password))
    {
        FormsAuthentication.SetAuthCookie(login, createPersistentCookie: false);
        var return_url = Request.QueryString["returnUrl"];
        if (string.IsNullOrWhiteSpace(return_url))
        {
            return_url = "~";
        }
        Response.Redirect(return_url);
        <div class="alert alert-success">
            Authentication success
        </div>
    }
    else
    {
    <div class="alert alert-danger">
        Authentication failed
    </div>
    }
}

<form  method="post" role="form">
    <div class="form-group">
        <label class="control-label" for="login">Login</label>
        <input type="text" class="form-control" name="login" placeholder="Enter login"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter password" />
    </div>
    <input type="hidden" name="ReturnUrl" value="@Request["ReturnUrl"]" />
    <button type="submit" class="btn btn-default">Login</button>
</form>
<div>
    <a href="~/Default.cshtml">Back</a>
</div>